{% raw %}{{% endraw %}
{%- if ( docker_daemon_metrics_host is defined ) and ( docker_daemon_metrics_port is defined ) %}
  "metrics-addr" : "{{ docker_daemon_metrics_host }}:{{ docker_daemon_metrics_port }}",
{%- endif %}
  "experimental" : true
{%- if docker_mirrors is defined %},{% endif %}
  "registry-mirrors": {% raw %}[{% endraw %}
{%- for mirror in docker_mirrors %}
    "{{ mirror }}"
{%- if not loop.last %}, {% endif -%}
{% endfor %}
  {% raw %}]{% endraw %}
{% raw %}}{% endraw %}